{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="card">
    <div class="page-header">
        <h4>Выберите мерчендайзера:</h4>
    </div>
    <form action="{{url_for('mr')}}" method="post">
        <div class="form-group">
            <p>
                <select name="mr_value" class="form-select">
                    {% for i in mr_list %}
                        {% if i == mr_value %}
                            <option selected="selected">{{ i }}</option>
                        {% else %}
                            <option>{{ i }}</option>
                        {%endif%}
                    {% endfor %}
                </select>
            </p>
        </div>
        <p>
            <button type="submit" class="btn btn-primary">Выбрать</button>
        </p>
    </form>
</div>
<div class="media">
    <div class="media-body">
        {% if pics is not none %}
            {{ pics | safe }}
        {% else %}
            <p style="color:red;font-size:20px;">Не выбран файл для статистики!</p>
            {% endif %}
    </div>
</div>
{% endblock %}